<div class="container">
  <%= render "index_search_form" %>
</div>

  <div id="clinics-map" class="mt-4" style="width: 100%; height: 90vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
