<div class="container">
  <h1>Clinics</h1>

  <div class="my-4">
    <h2><%= pluralize @clinics.count, "clinic" %> available</h2>

    <% @clinics.each do |clinic| %>
      <div>
        <%= link_to clinic.name, clinic_path(clinic) %>
        <p>
          <small><%= clinic.location %></small>
        </p>
      </div>
    <% end %>
  </div>

</div>
