<div class="container">
  <%= render "index_search_form" %>

  <div class="my-4">
    <h3><%= pluralize @clinics.count, "clinic" %> available</h3>
    <% @clinics.each do |clinic| %>
        <%= render "pages/clinic_card", clinic: clinic %>
    <% end %>
  </div>
</div>
