<div class="container">
  <div class="my-5">
    <h3>Make a phone call appointment with <strong><%= @clinic.name %></strong></h3>
  </div>

  <%= simple_form_for [@connection] do |f| %>
    <%= render 'connections/form', article: [@connection] %>
  <% end %>
</div>
