.msg-clinic {
  background-color: $darkblue;
  color: white;
  float: left;
  text-align: left;
}

.msg-user {
  background-color: white;
  float: right;
  text-align: right;
}

.clinic-info {
  top: 45px;
}
