.msg-clinic {
  background-color: $darkblue;
  color: white;
  text-align: left;
}

.msg-user {
  background-color: white;
  text-align: right;
}

.clinic-info {
  top: 45px;
}

.hide {
  display: none;
}
