.msg-clinic {
  background-color: $darkblue;
  color: white;
  text-align: left;
}

.msg-user {
  background-color: white;
  text-align: right;
}

.clinic-info {
  top: 60px;
  position: sticky;
  z-index: 1;
}

.hide {
  display: none;
}

.chatroom {
  overflow-y: scroll;
}

.content-wrap {
  padding-bottom: 275px!important;
}
