<div class="container">
  <ul>
    <% @event_list.items.each do |event| %>
      <li><%= event.summary %> (<%= event.id %>)</li>
    <% end %>
  </ul>

  <%= form_tag new_event_url do %>
    <%= submit_tag 'Add event' %>
  <% end %>
</div>
