<div class="footer-container">
  <div class="container">
    <p>About Yasashii</p>
    <p>FAQ</p>
    <p>Terms of Use</p>
    <p>Privacy Statement</p>
    <div class="footer-copyright">
      <span>Copyright © 2023 Yasashii</span>
    </div>
  </div>
</div>
