<div class="container footer-container">
  <p>About Yasashii</p>
  <p>FAQ</p>
  <p>Terms of Use</p>
  <p>Privacy Statement</p>
  <div class="footer-copyright">
    <p>Copyright © 2023 Yasashii</p>
  </div>
</div>
