<div class="footer-container sticky-footer" >
  <div class="container">
    <%= link_to about_show_path do %>
      <p class="text-white">About Yasashii</p>
    <% end %>

    <p>FAQ</p>
    <p>Terms of Use</p>
    <p>Privacy Statement</p>
    <div class="footer-copyright">
      <span>Copyright © 2023 Yasashii</span>
    </div>
  </div>
</div>
