<div class="container">
  <%= link_to clinic_path(clinic) do %> <br>
    <div class="card-appt row">

      <div class="p-0 col-lg-4 col-md-4 col-sm-12">
        <%= cl_image_tag clinic.photo.key, height: 150, width: 366, alt: clinic.name, class: "img-full"%>
      </div>
      <div class="p-3 pt-4 col-lg-8 col-md-8 col-sm-12">
        <h3><%= clinic.name %> <br></h3>
        <div class="d-flex flex-row">
          <span class="fa-stack d-flex flex-col justify-content-center fwidth mx-1">
            <i class="fa fa-circle fa-stack-2x icon-bg"></i>
            <i class="fa-solid fa-location-dot fa-stack-1x icon-color"></i>
          </span>
          <p class="d-flex flex-col align-self-center m-0"><%= clinic.location %></p>
        </div>
      </div>

    </div>
  <% end %>
</div>
