<div class="banner">
  <div class="container">
      <h1>Fast & easy way to make your clinic appointment</h1>
  </div>
</div>

<div class="container spacing border-box">
  <div class="row justify-content-center gray-txt mb-5 text-center">
    <div class="col-lg-3 col-sm-12">
      <i class="fa-solid fa-language fa-4x m-4"></i>
      <i class="fa-solid fa-phone-volume fa-4x m-4"></i>
    </div>
    <h2 class="align-self-center col-lg-9 col-sm-12">Automated call translation service for foreigners in Japan</h2>
  </div>

  <div class="mt-4">
    <h2>Find a clinic near you</h2>
    <%= render "search_form" %>
  </div>

  <div class="my-5">
    <h3>Clinics you have visited recently (<%= @clinics.first(5).count %>)</h3>
    <% @clinics.first(5).each do |clinic| %>
      <%= render "clinic_card", clinic: clinic %>
    <% end %>
  </div>
</div>
