<div class="banner">
  <div class="container">

      <h1>No Japanese? No problem.</h1>
      <h2 class="p-3">Book an appointment with a clinic through us. We'll translate everything.</h2>
    <div class="mt-0" data-controller="geolocation">
      <%= render "search_form" %>
    </div>
    <%# <div>
      <button data-action="geolocation#search">Search near me</button>
      <div data-geolocation-target="results"></div>
    </div> %>
  </div>
</div>

<div class="container spacing border-box">
  <div class="row justify-content-center mb-5 text-center">
    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 gray-txt ">
      <i class="fa-solid fa-language fa-3x m-4"></i>
      <i class="fa-solid fa-phone-volume fa-3x m-4"></i>
    </div>
    <p class="align-self-center col-xl-9 col-lg-12 col-md-12 col-sm-12">Let us how you're feeling, and Yasashii will connect you with the right clinic instantly.</p>
  </div>
  <div class="my-3">
    <% if current_user %>
      <h3 class="m-0">Recently viewed clinics (<%= @clinics.first(5).count %>)</h3>
    <% else %>
      <h3 class="m-0">Top-rated clinics (<%= @clinics.first(5).count %>)</h3>
    <% end %>
    <% @clinics.first(5).each do |clinic| %>
      <%= render "clinic_card", clinic: clinic %>
    <% end %>
  </div>
</div>
