<div class="container mt-5">
  <div class= "row">
    <h1>Welcome Back <%= current_user.username %>!</h1>
  </div>

  <h3 class="mt-4">Upcoming Appointments</h3>
  <% @user_connections.each do |connection| %>
    <%= render "appt_card", connection: connection %>
  <% end %>

  <h3 class="mt-5">Past Appointments</h3>
  <% @user_connections.each do |connection| %>
    <%= render "appt_card", connection: connection %>
  <% end %>

  <button class="btn btn-primary w-100 my-3">Call a Clinic</button><br>
  <button class="btn btn-primary w-100 mb-3">Leave a Review</button>
</div>
