<div class="container mt-5">
  <h1>Welcome Back <%= current_user.username %>!</h1>
  <h3>Upcoming Appointments</h3>
  <h3>Past Appointments</h3>
  <button class="btn btn-primary">Call a Clinic</button>
  <button class="btn btn-primary">Leave a Review</button>
</div>
