<div class="container mt-5">
  <div class= "row">
    <h1>Welcome Back <%= current_user.username %>!</h1>
  </div>

  <h3 class="mt-4">Upcoming Appointments</h3>
  <% @user_connections.each do |connection| %>
    <% if connection.appt_date >= DateTime.now %>
      <%= render "appt_card", connection: connection %>
    <% end %>
  <% end %>

  <h3 class="mt-5">Past Appointments</h3>
  <% @user_connections.each do |connection| %>
    <% if connection.appt_date < DateTime.now %>
      <%= render "appt_card", connection: connection %>
    <% end %>
  <% end %>
</div>

<%= notice %>
