.footer-container {
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: $pink;
  color: $lightpink;
}

.footer-copyright {
  margin-top: 36px;
  color: $light-gray;
  font-size: 8px;
  padding-bottom: 4px;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.content-wrap {
  padding-bottom: 300px;
}

.text-white {
  color: white;
}
