.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-title {
  color: $pink;
  margin: 0;
  padding-left: 4px;
}

#navbarDropdown {
  border: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 8px;
  background-color: white;
}

.navbar-brand {
  margin-left: 8px;
}

.nav-item {
  padding-left: 32px;

}

.view-user-dashboard {
  font-size: 12px;
  margin-bottom: 0px;
}

.user-profile-info {
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: double;
}

.user-avatar {
  height: 32px;
  width: auto;
}

.separator-line {
  margin-left: 12px;
  margin-right: 12px;
}

.dropdown-menu {
  border: 0px;
  font-size: 18px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-bottom: 32px;
  width: 100%;
}

.icon-spacing {
  padding-right: 16px;
  padding-left: 16px;
  color: $pink;
}
