<div class="container">
  <div class="my-4">
    <h1>About Us</h1>
    <div class="my-1 p-5 gray-txt">
      <h2>Meet Our Team</h2>
      <h6>We are small team of developers located in Tokyo,
      aiming to help the foreigner community in Japan have one less
      barrier in receiving the healthcare that they need.</h6>
    </div>
  </div>

  <div class= "px-5">
    <div class="mb-5" data-aos="fade-up" data-aos-duration="3000">
      <h3>Yvonne Tou</h3>
      <h4>Lead Developer</h4>
      <%= image_tag "yvonne.jpg", class: "avatar-xl my-3" %>
      <div>
        <p class="p-3 info-card">Currently working in a non-tech position in a Japanese tech company,
        learning programming and aiming for a career switch. A graphic design graduate.
        An aviator in my previous life. Living in Tokyo for almost 3 years.</p>
      </div>
    </div>

    <div class="my-5" data-aos="fade-up" data-aos-duration="3000">
      <h3>Danielle Matsumoto</h3>
      <h4>Project Manager</h4>
      <%= image_tag "dani.jpg", class: "avatar-xl my-3" %>
      <p class="p-3 info-card">Danielle from New York. I am a teacher here but looking to move into
      a field that allows for more growth and financial reward. So I chose coding!</p>
    </div>

    <div class="my-5">
      <h3>Tanner Maxwell<h3>
      <h4>Backend Lead</h4>
      <%= image_tag "tanner.jpg", class: "avatar-xl my-3" %>
      <p class="p-3 info-card">I am a graphic designer based in Tokyo. I specialize in data visualization,
      information graphics, and illustration. I have been working in the publishing
      industry for more than eight years working on custom magazines, videos and
      digital content.</p>
    </div>

    <div class="my-5">
      <h3>Sarah Rollins</h3>
      <h4>Frontend Lead</h4>
      <%= image_tag "sarah.jpg", class: "avatar-xl my-3" %>
      <p class="p-3 info-card">A fine arts graduate from Canada. I specialize in website visuals.
      I worked as an English teacher for four years in northern Japan. In 2022
      I moved to Tokyo and have been mastering my fullstack development skills
      since then. </p>
    </div>\
  </div>
</div>
