// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', 'sans-serif';
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $gray;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 7px;
}

.form-control {
  background-color: #e4e4e4;
}

@media (max-width: 768px) {
  h3 {
    font-size: 22px !important;
  }
  .container img {
    height: 250px;
    width: 100%;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 22px !important;
  }
  .container img {
    height: 200px;
    width: 100%;
  }
}
